@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    margin: 0;
    padding:0;
    font-family: 'Trirong', serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.nav-bar-left-location{
    display: flex;
    justify-content:center;
    align-items: center;
}

.nav-bar-left-location p{
    letter-spacing: 2px;
    padding-left: 10px;
    font-size: larger;
}

.nav-bar-left{
    display: flex;
    justify-content:center;
    align-items: center;
}

.nav-bar-left-number{
    padding-left: 20px;
    font-size: small;
    color: grey;
}

.nav-bar-right{
    display: inline;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-right a{
    text-decoration: none;
    font-size: larger;
    border: 5px;
    padding: 15px;
    color: black;
    letter-spacing: 2px;
}

.nav-bar-right a:hover{
    text-decoration: underline;
    text-decoration-color: darkgray;
}

#-control-bar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: .5px solid #ffffff52;
    border-width: 80%;
    margin-bottom: 1rem;
}

.control-bar {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    background-color: white;
}

.control-bar-catalog button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    /*background: #ad5389;*/
    /*background: linear-gradient(to right, #0f0c29, #302b63, #24243e);*/
    background-color: #2f3640;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}
.control-bar-catalog button img {
    margin-right: 3px;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.control-bar-catalog button span {
    padding-left: 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.control-bar-catalog button:hover img {
    transform: translateX(5px) rotate(90deg);
}

.control-bar-catalog button:hover span {
    transform: translateX(7px);
}

.control-bar-search {
    display: flex;
    width: 550px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}

.control-bar-search-input {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
    padding: 24px 46px 24px 26px;
}

.control-bar-search-button{
    color: white;
    position: absolute;
    right: 8px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.control-bar-search-button:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}

.control-bar-search-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.control-bar-right{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 5px;
}

.control-bar-right-item {
    width: 80px;
    height: 45px;
    background: #2f3640;
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
}
  
.control-bar-right-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}
  
.control-bar-right-item-cover,.control-bar-right-item-text,.control-bar-right-item-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}
  
.control-bar-right-item-text {
    top: 100%
}
  
.control-bar-right-item-text,.control-bar-right-item-icon {
    transition: top 0.5s;
}
  
.control-bar-right-item-icon {
    color: #fff;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.control-bar-right-item-icon img {
    width: 24px;
    height: 24px;
}
  
.control-bar-right-item:hover {
    background: #222;
}
  
.control-bar-right-item:hover .control-bar-right-item-text {
    top: 0;
}
  
.control-bar-right-item:hover .control-bar-right-item-icon {
    top: -100%;
}

.header-banner{
    margin-left: 100px;
    margin-right: 100px;
}

.header-banner p{
    font-size: 150px;
    text-align: center;
    letter-spacing: 20px;
    word-spacing: 25px;
    color: crimson;
    font-weight: 500;
}

.header-slide-show{
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 3px grey;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.header-slide-show-item{
    width: 100%;
    height: 500px;
    transition: 1s ease-out;
    position: absolute;
}


.slideshow-home-control {
    text-align: center;
    display: flex;
    justify-content: center;
}

.slideshow-home-prev-control, .slideshow-home-next-control{
    margin: 5px;
    cursor: pointer;
}


/*.special-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/
  
.special-scetion-heading p{
    font-size: 35px;
    font-family: 'poppins';
    letter-spacing: 3px;
    word-spacing: 3px;
    text-align: center;
}


.special-section-content-panel-item{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
}

.special-section-content-panel-item-image img{
    width: 80%;
    border: 1px solid black;
}

.special-section-content-panel-item-details-info{
    font-family: 'poppins', serif;
    font-weight: bold;
    font-size: small;
}

.special-section-content-panel-item-details-price{
    font-size: smaller;
    font-weight: 500;
    font-family: 'poppins', serif;
}

.special-section-content-panel-item-details-price span{
    color: rgb(95, 94, 94);
    margin-left: 10px;
    text-decoration: line-through;
}

/* .special-section-content{
    background-color: rgb(243, 242, 242);
    position: relative;
    width: 100%;
    height: 420px;
    margin: auto;
}    */

.special-section-content{
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: rgb(230, 229, 229);
}

.holding{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s ease-out;
}

.inner-holding{
    width: 100%;
    height: 100%;
}

.special-section-content-panel{
    display: flex;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.slide-link-div{

    overflow: hidden;
    position: relative;
}

.slide-link-div-packet{
    width: 200%;
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide-link-div-item{
    flex: 1;
    width: 100%;
    height: 540px;
    text-align: center;
}

.slide-link-div-item img{
    max-width: 100%;
    max-height: 100%;
}

.banner-links{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.banner-links-item img{
    width: 100%;
    height: 100%;
}

.slide-main-content-item{
    display: flex;
    flex-direction: column;
    width: 420px;
    text-align: center;
    border: 1px solid pink;
}

.slide-main-item-image img{
    width: 100%;
    height: 100%;
}

.slide-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 300px;
    border: 2px solid black;
}

.slide-item-image img{
    width: 100%;
}

.slide-item-details{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.slide-item-details-info{
    font-family: 'poppins', sans-serif;
    font-size: small;
    font-weight: bold;
    letter-spacing: 2px;
}

.slide-item-details-price{
    font-family: 'poppins', sans-serif;
    font-size: smaller;
    margin-left: 5px;
    margin-right: 5px;
}

.slide-item-image:hover ~ .slide-item-details .slide-item-details-price{
    background-color: white;
    color: black;
    font-weight: bold;
}

.slide-holding-panel{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;
}

.slide-toggling-button-class{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 30px;
}

.slide-toggling-button{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.slide-toggling-button:hover{
    border: 1px solid gray;
}


.bottom-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 30px;
}

.bottom-info-heading p{
    font-family: 'poppins';
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

.bottom-info-content p{
    font-family: 'poppins';
    font-size: 12px;
}

footer{
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.column ul{
    list-style: none;
}

.column a{
    text-decoration: none;
    color: black;
    font-family: 'poppins';
    font-weight: 500;
}

.column h2{
    color: grey;
    font-family: 'poppins';
    font-size: 15px;
    letter-spacing: 1px;
}

.column li{
    font-size: 17px;
}

#footer-main-column a{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 19px;
}

#footer-main-column a:hover, .column a:hover{
    color: red;;
}